<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Base CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-content container">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SmallGoods Logo" class="logo">
            </div>
            <div class="footer-info">
                <p>© 2025 Small Goods Gym</p>
                <p>All rights reserved</p>
            </div>
        </div>
    </footer>

    <!-- Base JavaScript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>